@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
  background-color: #b8d3d1;
  font-family: "Figtree", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
#nav {
  width: 90%;
  background-color: #FFF;
  border-radius: 20px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 30px;
}
#nav a{
    text-decoration: none;
    color: #26547c;
}
#homelink{
    color: #a13d63 !important;
}
#bigimg{
    width: 90%;
    height: 400px;
    background-color: white;
    border-radius: 20px;
}
#centerbox{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 200px;
}
#startplaying{
    font-family: "Figtree", sans-serif;
    font-weight: 700;
    width: 200px;
    padding: 20px;
    border-color: none;
    border-radius: 30px;
    background-color: #a13d63;
    color: white;
}
